section {
    height: 510px;
    width: 950px;
    margin: auto;
}
.hero-search {
    display: flex;
}
.search-container-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
}
.search-img {
    width: 100%;
    height: 100%;
}
.hero-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.aside {
    margin-bottom: 25px;
    margin-top: 2opx;
}
.hero-cards-container > div {
    border-radius: 4px;
}
.card {
    height: 180px;
    border-top: 2px solid #31d35c;
    border-left: 2px solid #31d35c;
    border-right: 2px solid #2bb7da;
    border-bottom: 2px solid #2bb7da;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search-description {
    height: 45px;
    overflow: auto;
}
.right-arrow{
    position: absolute;
    right: -40px;
    color: #31d35c;
    transform: scale(2);
    top: 50%;
    cursor: pointer;
}
.left-arrow{
    position: absolute;
    left: -40px;
    color: #31d35c;
    transform: scale(2);
    top: 50%;
    cursor: pointer;
}
.card-details {
    position: relative;
    width: 50vw;
    height: 500px;
    margin: auto;
    border: 2px solid #31d35c;
    border-radius: 25px;
}
.card-img-details {
    width: 90%;
    margin: auto;
    height: 300px;
    margin-bottom: 10px;
}
.card-img-details img{
}
li {
    list-style: none;
}
.private{
    margin-left: 20px;
    transform: translateY(31px);
}
.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border-top: 2px solid #2bb7da;
    text-shadow: rgb(0 0 0 / 80%) 0 1px 0;
}
.description {
    text-align: center;
}
.card-img {
    background: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100px;
    z-index: -5;
    border-bottom: 1px solid;
    border-top-left-radius: 18px;
}
.card-img img{
    border-top-left-radius: 18px;
}
.address {
    font-size: 14px;
    text-align: center;
    margin: 0;
    color: black;
}
.email {
    font-size: 12px;
}
.aside {
    height: 96px;
}
.hr {
    margin-top: 10px;
    margin-bottom: 17px;
    border: 1px solid #ededed;
    background-color: #ededed;
}
.hero-1-search {
    display: flex;
    width: 35%;
    margin-right: 100px;
}
.hero-2-search {
    overflow: auto;
}
.select-type-search {
    width: 280px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: white;
}
.logos {
    position: absolute;
}
.logos > i {
    margin-top: 14px;
    margin-left: 17px;
    transform: scale(1.2);
}
.trois {
    width: 20px;
    transform: scale(1.5) translate(84px, 2px);
}
.locate {
    width: 14px;
    transform: translate(-17px, 3px);
}
.env {
    position: absolute;
    color: white;
    transform: translate(189px, -165px);
    background-color: #f9a159;
    border-top-right-radius: 5px;
    border-end-start-radius: 5px;
    border-top-left-radius: 2px;
    border-end-end-radius: 2px;
    padding: 4px;
    padding-bottom: 6px;
    font-size: 9px;
    font-weight: bold;
}
.number {
    font-size: 12px;
}
.arrow {
    position: absolute;
    width: 46px;
    border: none;
    transform: translate(-54px, 214px);
    background: white;
    font-size: 11px;
}

.form-contact__topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #31d35c;
    padding: 30px;
    text-align: center;
    transform: translateY(15px);
}

.form-contact .input-box {
    height: 40px;
    width: 100%;
    margin: 12px 0;
}

.form-contact .input-box input,
.form-contact .input-box textarea {
    margin: 20px;
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #f0f1f8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.form-contact .message-box {
    min-height: 110px;
}

.form-contact .input-box textarea {
    padding-top: 6px;
}
